.singlePostContainer {
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f9f9f9;
    margin-bottom: 20px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-width: 900pt;
    /* Set the maximum width of the container */
    overflow: hidden;
    /* Set the maximum height of the container */
}

.singlePostWrapper {
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    display: flex;
}

.singlePostImgWrapper {
    flex: 1 1 50%;
    text-align: center;
    padding: 20px;
}

.singlePostImg {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    border-radius: 5px;
}

.singlePostInfo {
    flex: 1 1 50%;
    padding: 20px;
}

.singlePostTitle {
    font-size: 24px;
    margin-bottom: 10px;
}

.singlePostAuthor {
    margin-right: 10px;
}

.singlePostDate {
    color: #888;
}

.singlePostDesc {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.singlePostButton,
.checkoutButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
}

.singlePostButton:hover,
.checkoutButton:hover {
    background-color: #0056b3;
}

.singlePostEdit {
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

.singlePostIcon {
    margin-right: 10px;
}

.quantityContainer {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.quantityControl {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.quantityControl button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
}

.quantityControl button:hover {
    background-color: #0056b3;
}

.checkoutSection {
    max-width: 800px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
    margin-top: 20px;
}