/* category.css */

.categoryContainer {
    background-color: #fcefef;
    /* Set a light background color */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 1s;
    /* Add fade-in animation */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.categoryContent {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* Center content vertically */
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    background-color: rgb(253, 219, 219);
    /* Set a white background for the content */
    border-radius: 10px;
}

.categoryImage img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.categoryList {
    margin-top: 20px;
    /* Add some spacing between the image and category list */
}

.categoryTitle {
    font-size: 32px;
    color: #333;
    font-weight: bold;
    margin-bottom: 20px;
    color: #f74f8a;
    /* Set a bright pink color for the title */
}

.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.categoryItem {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 24px;
    padding: 15px;
    border: 1px solid #f74f8a;
    /* Set the border color to match the title */
    border-radius: 5px;
    background-color: #fff;
    /* Set a white background for the items */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Add a subtle box shadow */
    transition: transform 0.2s;
    /* Add a smooth transform animation on hover */
}

.categoryItem i {
    margin-right: 10px;
}

.categoryItem:hover {
    transform: scale(1.05);
    /* Enlarge the item on hover */
    background-color: #f74f8a;
    /* Change the background color on hover */
    color: #fff;
    /* Change the text color on hover */
}

.link {
    text-decoration: none;
    color: #333;
}

.link:hover {
    color: #007bff;
}

/* Add other styles as needed */