.header {
    margin-top: 60px;
}

.headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: rgb(0, 90, 192);
}

.headerTitleSm {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitleLg {
    position: absolute;
    top: 20%;
    font-size: 100px;
}

.headerImg {
    width: 100%;
    height: 700px;
    margin-top: 10px;
    object-fit: cover;
}