.write-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('https://e1.pxfuel.com/desktop-wallpaper/355/972/desktop-wallpaper-stock-of-reading-·-pexels-coffee-winter-and-books.jpg');
  background-size: cover;
}


.write-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.write {
  width: 100%;
  max-width: 400px;
  padding: 30px;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.writeTitle {
  font-size: 28px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.writeForm {
  width: 100%;
}

.writeFormGroup {
  margin-bottom: 20px;
}

.writeFileLabel {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  background-color: #eee;
  border-radius: 5px;
  cursor: pointer;
}

.writeIcon {
  margin-right: 10px;
}

.writeFileInput {
  display: none;
}

.writeImage {
  width: 100%;
  height: auto;
  margin-top: 10px;
  border-radius: 5px;
}

.writeInput,
.writeTextarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #f9f9f9;
  resize: none;
}

.writeTextarea {
  height: 120px;
}

.writeSubmit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: teal;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.writeSubmit:hover {
  background-color: rgb(1, 114, 114);
}